.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: var(--brand-color);
  z-index: 1;
  box-shadow: 0px 2px 7px 0px var(--gray);
  padding: 0 10px;
  color: var(--white);
}

.titleCenter {
  justify-self: center;
}

.backButton {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: var(--white);
  font-weight: bold;
}
