.checkoutItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 30px;

  > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.checkoutTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray);
  padding: 10px 0;
}

.checkoutDelete {
  background-color: transparent;
  width: 90px;
  height: 30px;
  color: var(--brand-color);
}

.checkoutMiddle {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkoutImage {
  width: 30%;
  height: 30%;
  aspect-ratio: 4/3;
  max-width: 200px;
  max-height: 150px;
  object-fit: cover;
}

.checkoutDetails {
  display: flex;
  flex-direction: column;
  flex: 1;

  > * {
    padding: 0 15px;
  }
}

.checkoutTitle {
  display: flex;
  flex: 1;
  font-size: 23px;
  font-weight: bold;
}

.checkoutPrice {
  display: flex;
  flex: 1;
}

.checkoutPriceDiscount {
  display: flex;

  > del {
    color: var(--gray);
  }
}

.checkoutCount {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.checkoutDiscount {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  font-size: 23px;
  font-weight: bold;
}

.checkoutBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray);
  padding: 10px 0;
  height: 51px;

  font-size: 14px;
  font-weight: 400;
}

.checkoutPromoText {
  display: flex;
  flex: 2;
}

.checkoutPromo {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.checkoutPromoInput {
  height: 30px;
  width: 50%;
}

.checkoutPromoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend .checkoutDelete;
}

.promoApplied {
  color: green;
}
