.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px 50px;
  align-items: center;
  justify-items: center;
  align-content: center;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 3px var(--gray);
}

.total {
  grid-area: 1 / 2;
  font-size: 14px;
  font-weight: lighter;
}

.price {
  grid-area: -2 / -3;
  font-size: 30px;
  font-weight: bold;
}

.checkout {
  grid-area: -2/-2;
  align-self: flex-end;
  place-self: center;
  width: 50%;
  height: 70%;

  @media (max-width: 500px) {
    width: auto;
  }
}
